//anything valid for a html file will be valid for an ejs file


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- <%= %> the ejs marker -->
    <h1>It's a <%= kindOfDay %></h1>
  </body>
</html>
